body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #c0392b;
    color: white;
    text-align: center;
    padding: 25px;
}

h1 {
    margin: 0;
}

p {
    margin-top: 5px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Stil för varje konstverk */
.artwork {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
